@model IList<DailyAttendanceViewModel>
<h1>Daily Attendance List Information</h1>
@if (TempData["info"] != null)
{
    <div class="alert alert-info">
        @TempData["info"]
    </div>
}
<table class="table table-hover" id="DailyAttendanceTable">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">AttendanceDate</th>
            <th scope="col">In Time</th>
            <th scope="col">Out Time</th>
            <th scope="col">Employee</th>
            <th scope="col">Department</th>
            @if (User.IsInRole("HR"))
            {
                <th scope="col">Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @{
            int index = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@index</th>
                <td>@item.AttendanceDate.ToString("dd-MM-yyyy")</td>
                <td>@item.InTime</td>
                <td>@item.OutTime</td>
                <td>@item.EmployeeId</td>
                <td>@item.DepartmentId</td>
                @if (User.IsInRole("HR"))
                {
                    <td>
                        <div class="btn btn-group">
                        <a href="/employee/Edit?id=@item.Id" class="btn btn-primary" role="button">Edit</a>
                        <a asp-action="Delete" asp-controller="Employee" asp-route-id="@item.Id" onclick="return confirm('are you sure to delete this record?');" class="btn btn-danger" role="button"> Delete</a>
                    </div>
                </td>
                }
            </tr>
            index++;
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#DailyAttendanceTable').DataTable();
    });
</script>