<head>
    <script>
        function loadSelectedCurrencyAndInputAmount(){
        if ("@ViewBag.SelectedCurrency" != "")
        {
            document.getElementById("selCurrency").value= "@ViewBag.SelectedCurrency";
        }
        if ("@ViewBag.Amount" !="0")
        {
            document.getElementById("txtAmount").value = "@ViewBag.Amount";
        }     
        }
    </script>
</head>
<body onload="loadSelectedCurrencyAndInputAmount();">
    <center>
        <fieldset>
            <legend> Currency Convertor Version 2.0</legend>
            <form action="/currency/CurrencyConvertorV2" method="post">
                <div>
                    <h3 style="color:red">
                        @ViewBag.Error
                    </h3>
                </div>
                <table>
                    <tr>
                        <td>Choose Currency</td>
                        <td>
                            <select name="fromCurrency" id="selCurrency">
                                <option value="">--CHOOSE ONE--</option>
                                <option value="sdg">Singapore Dollor</option>
                                <option value="usd">USD Dollor</option>
                                <option value="baht">Thai Baht</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>
                            <input type="number" name="amount" id="txtAmount" />
                        </td>
                    </tr>
                    <tr>
                        <td>Result (MMK)</td>
                        <td>
                            <input type="number" name="Result" readonly value="@ViewBag.CalculatedAmt" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Convert" />
                        </td>
                    </tr>
                </table>
            </form>
        </fieldset>
    </center>
</body>


